<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" href="/Images/kiitswaplogo.png" type="image/x-icon" />
    <title>Advisoropedia Main Page</title>
</head>
<body>
    <div class="leaf">
        <div>  <img src="http://www.pngmart.com/files/1/Fall-Autumn-Leaves-Transparent-PNG.png" height="85px" width="85px"></img></div>
         <div><img src="http://www.pngmart.com/files/1/Autumn-Fall-Leaves-Pictures-Collage-PNG.png" height="85px" width="85px"></img></div>
         <div>  <img src="http://www.pngmart.com/files/1/Autumn-Fall-Leaves-Clip-Art-PNG.png" height="85px" width="85px" ></img></div>
         <div><img  src="http://www.pngmart.com/files/1/Green-Leaves-PNG-File.png" height="85px" width="85px"></img></div>
          <div> <img src="http://www.pngmart.com/files/1/Transparent-Autumn-Leaves-Falling-PNG.png" height="85px" width="85px"></img></div>
        <div>   <img src="http://www.pngmart.com/files/1/Realistic-Autumn-Fall-Leaves-PNG.png" height="85px" width="85px"></div>
               
        </div>
        
        <div class="leaf leaf1">
        <div><img src="http://www.pngmart.com/files/1/Fall-Autumn-Leaves-Transparent-PNG.png" height="85px" width="85px"></img></div>
         <div><img src="http://www.pngmart.com/files/1/Autumn-Fall-Leaves-Pictures-Collage-PNG.png" height="85px" width="85px"></img></div>
         <div>  <img src="http://www.pngmart.com/files/1/Autumn-Fall-Leaves-Clip-Art-PNG.png" height="85px" width="85px" ></img></div>
         <div><img  src="http://www.pngmart.com/files/1/Green-Leaves-PNG-File.png" height="85px" width="85px"></img></div>
          <div> <img src="http://www.pngmart.com/files/1/Transparent-Autumn-Leaves-Falling-PNG.png" height="85px" width="85px"></img></div>
        <div>   <img src="http://www.pngmart.com/files/1/Realistic-Autumn-Fall-Leaves-PNG.png" height="85px" width="85px"></div>
               
        </div>
        
        <div class="leaf leaf2">
        <div>  <img src="http://www.pngmart.com/files/1/Fall-Autumn-Leaves-Transparent-PNG.png" height="85px" width="85px"></img></div>
         <div><img src="http://www.pngmart.com/files/1/Autumn-Fall-Leaves-Pictures-Collage-PNG.png" height="85px" width="85px"></img></div>
         <div>  <img src="http://www.pngmart.com/files/1/Autumn-Fall-Leaves-Clip-Art-PNG.png" height="85px" width="85px" ></img></div>
         <div><img  src="http://www.pngmart.com/files/1/Green-Leaves-PNG-File.png" height="85px" width="85px"></img></div>
    
          <div> <img src="http://www.pngmart.com/files/1/Transparent-Autumn-Leaves-Falling-PNG.png" height="85px" width="85px"></img></div>
        <div>   <img src="http://www.pngmart.com/files/1/Realistic-Autumn-Fall-Leaves-PNG.png" height="85px" width="85px"></div>
        </div>
    <div class="title"><h1>Advisoropedia</h1>
    </div>
        <div class="button">
        <a href="/login"><button>Login</button></a>
        <a href="/register"><button>Sign up</button></a>
    </div>
</body>
</html>
